* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */
#header {
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
}

/* Logo */
.header-container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo-img {
  margin-top: 30px;
  width: 100px;
}

/* Header-text */
.header-text {
  max-width: 350px;
  margin-top: 140px;
}

h1 {
  font-size: 34px;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}

/* span-square */
.span-square {
  height: 12px;
  width: 12px;
  background-color: #fab3c4;
  display: inline-block;
  margin: 15px 0;
}

/* Button */
button {
  padding: 18px 40px;
  background-color: transparent;
  outline: none;
  border: 2px solid #fab3c4;
  font-weight: bold;
  cursor: pointer;
}

.header-container button {
  margin-top: 20px;
  margin-bottom: 60px;
}

/* Line target */
.line {
  line-height: 8px;
}

.line :nth-child(n) {
  height: 12px;
  width: 12px;
  background-color: #fab3c4;
  display: inline-block;
}

/*###################* Now working on the Navbar that is bit complicated */
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px; /* Initially right:0*/
  background-color: rgb(242, 116, 145);
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  /* To remove the ul list dots */
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  /* To chnage to link blue and underline view */
  text-decoration: none;
  color: white;
}

/* #############Hamburger icon */
#hamburger {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/* ############# About Section  */
#About {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  width: 100%;
  flex-basis: 50%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  max-width: 500px;
  margin-right: -75px;
  display: inline-block;
}

.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}

.about-text h3 {
  font-size: 20px;
  font-style: italic;
  color: #797979;
}

.lineitems {
  margin: 20px 0;
}

/* SocialIcons */
.socialIcons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.socialIcons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

/* ################ Features section */
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 100px;
}

.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
/* feature-button */
.feature-button {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  align-items: end;
}

.feature-button .line {
  margin-right: 15px;
}

/* ##########Courses */
#Courses {
  padding: 100px 0;
}

.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.course-right-col img {
  width: 100%;
}

.course-right-col {
  flex-basis: 50%;
}

.course-left-col {
  flex-basis: 50%;
}

.course-text h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.course-button button {
  margin-top: 30px;
  margin-bottom: 30px;
}
