* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */
#header {
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
}

/* Logo */
.header-container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo-img {
  margin-top: 30px;
  width: 100px;
}

/* Header-text */
.header-text {
  max-width: 350px;
  margin-top: 140px;
}

h1 {
  font-size: 34px;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}

/* span-square */
.span-square {
  height: 12px;
  width: 12px;
  background-color: #fab3c4;
  display: inline-block;
  margin: 15px 0;
}

/* Button */
button {
  padding: 18px 40px;
  background-color: transparent;
  outline: none;
  border: 2px solid #fab3c4;
  font-weight: bold;
  cursor: pointer;
}

.header-container button {
  margin-top: 20px;
  margin-bottom: 60px;
}

/* Line target */
.line {
  line-height: 8px;
}

.line :nth-child(n) {
  height: 12px;
  width: 12px;
  background-color: #fab3c4;
  display: inline-block;
}

/* Now working on the Navbar that is bit complicated */
