*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header */
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

/* Logo */
.header-container{
    margin-right: 100px;
    margin-left: 100px;
}

.logo-img{
    margin-top: 30px;
    width: 100px;
}

/* Header-text */
.header-text{
    max-width: 350px;
}