.section {
  position: sticky;
  top: 0;
  z-index: 2;
}
a h4 {
  text-decoration: none !important;
  color: black;
  transition: 2s;
}

a h4:hover {
  transform: scale(1.3);
}
.section .bg-body-tertiary {
  background-color: rgb(226, 243, 246) !important;
  transition: 2s;
}

#basic-navbar-nav {
  text-align: center;
}

.custom-nav-link {
  /* font-weight: 800; */
  font-weight: bold !important;
}

.custom-nav-link:hover {
  color: rgb(243, 243, 243) !important;
  background-color: rgb(9, 4, 3);
}
