.slider-part {
  width: 100%;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%) !important;
  bottom: initial !important;
}

/* Caraousel making it in center */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%) !important;
  /* bottom: initial !important; */
}

.carousel-caption h5 {
  font-size: 80px;
}

.carousel-caption p {
  font-size: 30px;
}
