@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

#header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../public/images/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 15px;
}

#header h1 {
  font-family: "Grape Nuts", cursive;
  font-weight: bold;
  display: inline-block;
}

#header .login-btn {
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
  /* display: inline-block; */
}
