* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

nav {
  padding: 0px 20px;
}

.navbar {
  padding: 0px 50px;
}
.navbar-toggler {
  outline: none !important;
}
.bg-body-tertiary {
  background-color: rgb(98, 237, 117) !important;
}
